
__pycache__/.Rhistory
.idea/.Rhistory
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/ruby-challenge.iml
.idea/vcs.xml
__pycache__/shift_manager_oop.cpython-38.pyc
